<%- include ("partials/head") %>
<div class="container">
    <div class="row">
        <div class="u-full-width" style="margin-top: 12.5%">
            <h2><b>Jax Tubbs</b></h2>
            <p>This is my personal website</p>
            <a class="button"href="https://github.com/GitPlebeian/Portfolio-Website" target="_">Github</a>
        </div>
    </div>
</div>
<%- include ("partials/footer") %>
