<%- include ("../partials/head") %>
<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="row">
        <div class="u-full-width" style="margin-top: 12.5%">
            <h2><b>Homepage</b></h2>
            <%- include ("../partials/navigationButtons") %>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div class="u-full-width">
            <h3>Links</h3>
            <hr>
            <a class="button" id="robinhood" href="https://robinhood.com" target="_">Robinhood</a>
            <a class="button" href="https://trello.com/jaxtubbs/boards" target="_">Trello</a>
            <a class="button" href="https://www.colorhexa.com" target="_">Color conversion</a>
            <a class="button" href="https://calcolor.co/72fe72" target="_">Color Picker</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>
